<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303310983170-uhjq5oiqjv9l9jsu987htiebjvjmhkpm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303310983170-uhjq5oiqjv9l9jsu987htiebjvjmhkpm</string>
	<key>API_KEY</key>
	<string>AIzaSyDlj37PXlzr0k6Nd0iWrM-rhx7hY8wcYY4</string>
	<key>GCM_SENDER_ID</key>
	<string>303310983170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.lol-app</string>
	<key>PROJECT_ID</key>
	<string>lol-app-e16da</string>
	<key>STORAGE_BUCKET</key>
	<string>lol-app-e16da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303310983170:ios:050c22111654df311f171b</string>
</dict>
</plist>